.home_bg{
  height: 100%;
  background:#fff url(../../assets/imgs/home/home_bg.png);
  background-size: 100% 50%;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.curtain_title{
  font-size: 0.36rem;
}
.home_name{
  margin-left: 80px;
  margin-top: 100px
}
.home_title{
  color: #333;
  font-size: 60px;
  font-weight: normal;
  font-weight: 200
}
.home_title > strong {
  font-size: 70px
}
.home_title_welcome{
  color: #fff;
  font-size: 60px;
  font-weight: 100;
}
.center_btn{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -105px;
  margin-top: -145px;
}
.btn_wrap{
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background: url('../../assets/imgs/home/btn_bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.btn_wrap>img{
  width: 58px;
  margin-bottom: 20px;
}
.btn_wrap>span{
  font-size: 36px;
  color: #fff;
}
.figure_wrap{
  position: absolute;
  bottom: 0;
  left:5%;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 370px
}
.figure_wrap > a{
  width: 33.3%;
}
.home_figure{
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #fafafa;
  border-left: 1px solid #fafafa;
}
.home_figure>img{
  padding-top: 0.1rem
}
.home_figure>figcaption{
  color: #ababab;
  font-size: 36px;
  margin-top: 20px;
}
.figure_active {
  box-shadow: 10px 10px 5px #ccc;
}
.curtain>img{
  width: 77px
}
.light>img{
  width: 68px;
}
.air>img{
  width: 77px;
}
.tv>img{
  width: 77px
}
.model>img{
  width:73px;
}
.service>img{
  width: 75px;
}
.dianti>img{
  width: 64px;
}



.home_envir_play {
  font-size: 0.28rem;
  color: rgb(227, 228, 228);
  position: absolute;
  top: .8rem;
  right: 0.3rem;
}
.home_envir_play p{
  margin-top: 0.2rem
}